<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chương trình học máy chẩn đoán ung thư vú</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <script src="" async defer></script>
        <h1>Chương trình học máy chẩn đoán ung thư vú</h1>
        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="radius_mean">radius mean</label>
            <input name="radius_mean" id="radius_mean" type="number" step="0.01"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="texture_mean">texture mean</label>
            <input name="texture_mean" id="texture_mean" type="number" step="0.01"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="perimeter_mean">perimeter mean</label>
            <input name="perimeter_mean" id="perimeter_mean" type="number" step="0.01"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="area_mean">area mean</label>
            <input name="area_mean" id="area_mean" type="number" step="0.1"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="smoothness_mean">smoothness mean</label>
            <input name="smoothness_mean" id="smoothness_mean" type="number" step="0.00001"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>

        <br>
            <label for="diagnosis">diagnosis</label>
            <input name="diagnosis" id="diagnosis" type="number"/>
            <input type="submit" value="Submit"/>
        <br/>
    </body>
</html>